header {
    display: flex;
    justify-content: center;
}

h1 {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: 3em;
    border-bottom: 4px solid pink;
    width: 400px;
}

img {
    width: 350px;
    height: 450px;
    margin: 10px;
    transition: all 1s;
}

div {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

img:hover {
    transform: scale(1.1);
}
